@page "/"
@rendermode InteractiveWebAssembly
@using Dice.RollCodeParser
@using Dice.RollCodeParser.RollDescription

<PageTitle>Dice</PageTitle>

<h1>Dice Results Visualizer</h1>

<form method="post" @onsubmit="ParseDice" @formname="dice-form">
    <AntiforgeryToken/>
    <div>
        <label>
            Dice Notation:
            <InputText @bind-Value="UserInput!.Input"/>
        </label>
    </div>
    <div>
        <button type="submit">Evaluate</button>
    </div>
</form>

<hr/>
<div class=results id="resultGraph">
    <ApexChart @ref="_chart" Title="Result" TItem="Result">
        <ApexPointSeries TItem="Result"
                         Items="SResults"
                         Name="Odds"
                         SeriesType="SeriesType.Bar"
                         XValue="e => e.FaceValue"
                         YValue="e=> e.Odds*100"
                         />
    </ApexChart>
</div>

@code {
    public DiceUserInput? UserInput { get; set; }
    public List<Result> SResults;
    private ApexChart<Result> _chart;
    protected override void OnInitialized()
    {
        UserInput = new DiceUserInput();
        if (UserInput.Input == null)
        {
           return;
        }
    }

    private async Task ParseDice()
    {
        if (UserInput == null || UserInput.Input == null)
        {
            return;
        }
        
        var rc = new RollCode(UserInput.Input);
        //if rc.HasError...
        SResults = rc.Result.GetResults();
        Console.WriteLine("Update needed: " + SResults.Count);
        StateHasChanged();
        await _chart.RenderAsync();
    }

    public class DiceUserInput
    {
        public string? Input;
    }
}